<ul class="context-menu">
    <li class="dropdown dropdown-user dropdown-dark">
        <ul class="dropdown-menu dropdown-menu-default dropdown-dark">
            <li>
                    <a href="extra_profile.html">
                    <i class="fa fa-folder-open"></i> Open </a>
            </li>
            <li>
                    <a href="page_calendar.html">
                    <i class="fa fa-info-circle"></i> Info </a>
            </li>
            <li class="divider">
            </li>
            <li>
                    <a href="page_calendar.html">
                    <i class="fa fa-cloud-download"></i> Download </a>
            </li>
            <li>
                    <a href="inbox.html">
                    <i class="fa fa-share-alt"></i> Share </a>
            </li>
            <li class="divider">
            </li>
            <li>
                    <a href="javascript:;">
                    <i class="fa fa-pencil"></i> Rename </a>
            </li>
            <li>
                    <a href="extra_lock.html">
                    <i class="fa fa-copy "></i> Copy </a>
            </li>
            <li>
                    <a href="login.html">
                    <i class="fa fa-arrows"></i> Move </a>
            </li>
            <li>
                    <a href="login.html">
                    <i class="fa fa-trash"></i> Delete </a>
            </li>
        </ul>
    </li>
</ul>