{{#each notifications}}
    <li>
        <a href="javascript:;">
        <span class="time">{{time_ago}}</span>
        <span class="details">
        
        <i class="icon-speech menu-icon-color"></i>
        {{subject}}</span>
        </a>
    </li>
{{/each}}